@import "compass/css3";
@import "compass/utilities/sprites";
$icons-layout: smart;
$icons-spacing: 2px;
@import "icons/*.png";


@mixin icon($i) {
  width: image-width('/icons/' + $i + ".png");
  height: image-height('/icons/' + $i + ".png");
  @include inline-block;
  @include icons-sprite($i);
}

@import "_normalize";
@import 'normalize';
// @import 'magnific-popup';
// slider
// @import 'slick';

@import "_common";
// @import 'helpers';
